<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/crear.css">
    <title>Actualizar</title>
</head>
<body>
    
    <input id="Inp_Nombre" placeholder="Ingrese el nombre">
    <input id="Inp_edad" placeholder="Ingrese la edad">
    <input id="Inp_email" placeholder="Ingrese el email">
    <button id="Btn_Guardar">Guardar</button>
    <button id="Btn_Borrar">Borrar</button>

    <script src="/js/actualizar.js"></script>
</body>
</html>