<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Iniciar Sesión</title>
</head>
<body>
    
    <div id="Div_Contenedor_Padre">

        <button id="Btn_Crear" onclick="window.location='Crear'">Crear</button>
    <br>
    <button id="Btn_Leer" onclick="window.location='Leer'"> <span>Leer todo</span></button>
    <br>

     <button id="Btn_L1" > <span>Servidor 1</span></button>
    <br>
     <button id="Btn_L2" > <span>Servidor 2</span></button>
    <br>
     <button id="Btn_L3" > <span>Servidor 30</span></button>
    <br>

    <script src="/js/index.js"></script>
</body>
</html>

